!!! html
%html
  %head
    %link{:rel=>"stylesheet", :href => "/style.css"}
    %script{:src => "/jquery-1.9.0.min.js"}
    %script{:src => "/index.js"}
    %meta{:content=>'initial-scale = 1.0', :name=>'viewport'}
    %meta{:content=>'width = device-width', :name=>'viewport'}
    %link{:href=>"apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href=>"apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href=>"apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href=>"apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}

  %body
    %h1 
      Garage is 
      %span#garage_state= @door_state

    %form{:action => "/toggle"}
      %input#opener{:type =>"submit", :value => @door_state.to_s == 'open' ? "Close" : "Open"}