!!! html 5
%html
  %head
    %link{:rel=>"stylesheet", :href => "/style.css"}
    %script{:src => "/jquery-1.9.0.min.js"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %meta{:content=>'initial-scale = 1.0', :name=>'viewport'}
    %meta{:content=>'width = device-width', :name=>'viewport'}
    %link{:href=>"apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed"}
    %link{:href=>"apple-touch-icon-72x72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
    %link{:href=>"apple-touch-icon-114x114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
    %link{:href=>"apple-touch-icon-144x144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}

  %body
    =styled_flash
    %header
      %h1
        Garage is 
        %b#garage_state= @door_state
      %form{:action => "/toggle", :id => "door_form", :method => "post"}
        %input{:type => "hidden", :id => "auth_token",:name => "auth_token", :value => @params[:auth_token]}
        %input{:type => "tel", :id => "passcode", :name => "passcode", :autocomplete => 'off', :placeholder => "Door Code"}

    %section
      #opener
        %img{:src => "remote_icon.png", :alt => @door_state.to_s == 'open' ? "Close" : "Open"}

    %script{:src => "/index.js"}
