!!! html
%html
  %head
    %link{:rel=>"stylesheet", :href => "/style.css"}
    %script{:src => "/jquery-1.9.0.min.js"}
    %script{:src => "/index.js"}
  %body
    %h1 
      Garage is 
      %span#garage_state= @door_state

    %table#garage_door{:class => @door_state}
      %tr
        %td
        %td
      %tr
        %td
        %td
      %tr
        %td
        %td