body { 
}

table { 
  border: 2px solid black;
  width: 100%;
  padding: 5px;
}

table.closed { 
  height: 300px;
  background: green;
}
table.open {
  height: 75px;
  background: red;
}

table tr td { 
  border: 1px solid black;
}